body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

header {
    padding: 10px;
    flex-shrink: 0;
}

#content {
    height: 100%;
    /* padding: 20px;
    overflow: auto; */
}

.poi-inner {
    width: 800px;
    padding-top: 25px;
    margin: 0 auto;
}

#subtitle {
    flex-shrink: 0;
}

#sub_content {
    margin-left: auto;
    margin-right: auto;
}

header > a > h1 {
    color: #6eb355;
}

#map {
    border-radius: 20px;
    height: 60vh;
}

#tgtg {
    overflow: scroll;
    height: 60vh;
}

.tgtg-item > img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

a {
    color: #558c41 !important;
    text-decoration: none !important;
}

.warning {
    font-weight: bold;
    color: red;
    display: block;
    height: 60px;
    padding-top: 15px;
    text-align: center;
    width: 400px;
    border: solid 2px red;
}

label {
    display: block;
    width: 160px;
    margin: 15px 0;
}

.poi-inner > a {
    font-weight: bold;
    display: block;
    height: 60px;
    padding-top: 15px;
    width: 400px;
    border: solid 1px #558c41;
    color: #558c41;
    background-color: white;
    margin: 10px 0;
    text-align: center;
}

.poi-inner > a:hover {
    border: solid 1px #558c41;
    text-align: center;
    background-color: #558c41;
    color: white !important;
    opacity: 70%;
    transition-duration: 0.5s;
}

.the-grande-center {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin-top: 5% !important;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(110, 179, 85, 0.6);
    color: #444;
    margin-top: 15px;
    text-align: center;
}