body{
    max-width: 100%;
    max-height: 100%;
}

header{
    padding: 10px;
}

#content{
    padding: 20px;
    overflow: auto;
}

header > a > h1{
    color: #6eb355;
}

/* #content > h1, #content > h2{
    margin-left: 10px;
} */

#map{
    display:block;
    height: 60%;
    width: 60%;
    border-radius: 20px;
}

a{
    color: #558c41 !important;
    text-decoration: none !important;
}

.the-grande-center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(110, 179, 85, 0.6);
    color: #444;
    margin-top: 15px;
    /* position: absolute;
    
    height: 50;
    
    
    border-top: 2px solid black;
    /*  */
    /* 
    bottom: 0;  */
}

/* .admin {
    background-color: yellowgreen;
} */