{% include 'head.html' %}
{% include 'header.html' %}
<h1>Panel administracyjny {{ name }}</h1>
<h2>Modyfikacja stanu produktu</h2>
<p class="hint">Aby usunąć produkt dodaj jego ujemną ilość</p>
<form class="admin-form" method="post">
    <label for="product">Rodzaj żywności</label>
    <select name="product">
        {% for item in food_list %}
        <option value="{{ item[1] }}">{{ item[0] }}</option>
        {% endfor %}
    </select>
    <label for="quantity">Ilość</label>
    <input type="number" name="quantity">
    <input type="submit" value="Zatwierdź modyfikację">
</form>
{% include 'footer.html' %}